body{
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  font-family: "Inter";
}

.game-section{
  margin: 0;
  background-color: #282726;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.new-game{
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}