body{
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  font-family: "Inter";
}

.game-section{
  margin: 0;
  background-color: #282726;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;

}