# Ignore node_modules in all subdirectories
**/node_modules

# Ignore build folders in all subdirectories
**/build
**/dist
**/out

# Environment files
**/.env
**/.env.*
!.env.example

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# IDE
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea


# OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?