.header{
    margin : 0 auto;
    width: 350px;
    text-align: center;
    color: #ffffff;
}
.header-description > span {
    font-weight: 500;
    font-size:18px
}

.header-description > p {
    color:#8e8e8e;
    font-size: 14px;
}

.status{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-style: italic;
    border-radius: 5px;
}
.status-farewell{
    height: 60px;
    background-color: #7a53a7;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-style: italic;
    border-radius: 5px;
}
.status-won{
    height: 60px;
    background-color: #10a95b;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-style: italic;
    border-radius: 5px;

}
.status-won > span {
    font-weight: bold;
}
.status-lost {
    height: 60px;
    background-color: #ba2a2a;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-style: italic;
    border-radius: 5px;
}
.status-lost > span {
    font-weight: 500;
}