.language-list {
    list-style-type: none;
    height: 50px;
    max-width: 300px;
    margin: 20px auto 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

}
.language-list li {
    font-size:12px;
    display: flex;
    align-items: center;
    padding: 4.5px;
    border-radius: 3px;
    font-weight: 500;
    position: relative;

}