.NavBar {
    padding: 0 50px;
    max-width: 100vw ;
    background-image: linear-gradient(to right, #672280,#a626d3);
    height: 65px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.NavBar > img {
    max-height: 30px;
}