.Main{
    padding: 30px 50px;
}

/**/
.meme-form{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.meme-form > div {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.meme-form > div > p {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
}

.meme-form > div > p > input {
    padding: 10px 10px;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.meme-form > button{
    padding: 10px;
    display: block;
    background-image: linear-gradient(to right, #672280, #a626d3);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 6px;

}

/**/

.meme {
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.meme > img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}
.meme span {
    position: absolute;
    text-align: center;
    margin-block: 15px;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}