.tenzies-main{
    background-color: #f5f5f5;
    padding: 50px 30px;
    text-align: center;
}
.roll-area{
    padding: 30px 0;
}

.roll-area > button{
    height: 50px;
    white-space: nowrap;
    width: auto;
    padding: 6px 21px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
